/* Centramos todo y damos fondo */
.contenedor-app {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  max-width: 500px;
  margin: 40px auto; /* Esto lo centra en la pantalla */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio automático entre inputs */
}
/* Estilo para los inputs */
.input-usuario {
  border: 1px solid #e2e8f0;
  background-color: #fdfdfd;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
}

.input-usuario:focus {
  border-color: #3b82f6; /* Azul brillante al escribir */
  background-color: white;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

/* Botón Registrar */
.btn-registrar {
  display: flexbox;
  background-color: #646cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-registrar:hover {
  background-color: #535bf2;
}

/* La Tabla */
.tabla-registros {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

.tabla-registros th {
  background-color: #f1f5f9; /* Gris muy clarito */
  color: #64748b; /* Texto gris oscuro */
  font-weight: 600;
  text-align: left; /* Alineado a la izquierda queda más natural */
  padding: 12px 20px;
}

.tabla-registros td {
  padding: 16px 20px;
  color: #334155;
}
/* Botón Eliminar */
.btn-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #ff1a1a;
}